services:
  rocketchat:
    image: rocketchat/rocket.chat:${ROCKET_CHAT_VERSION:-latest}
    restart: unless-stopped
    environment:
      - PORT=3000
      - ROOT_URL=http://localhost:3000
      - MONGO_URL=mongodb://mongo:27017/rocketchat?replicaSet=rs0
      - MONGO_OPLOG_URL=mongodb://mongo:27017/local?replicaSet=rs0
      - OVERWRITE_SETTING_API_Enable_Rate_Limiter=false
      - OVERWRITE_SETTING_Accounts_TwoFactorAuthentication_Enforce_Password_Fallback=false
      - CREATE_TOKENS_FOR_USERS=true
      - ROCKETCHAT_LICENSE=${ROCKETCHAT_LICENSE}
      - LICENSE_DEBUG=true
      - CREATE_TOKENS_FOR_USERS_SECRET=1234567890abcdef
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  mongo:
    image: docker.io/bitnamilegacy/mongodb:8.0
    ports:
      # Normally not needed but if we need to access the interface directly for debugging we'd like to skip the
      # onboarding/registering wizard. For some reason the flag to disable it does not work so database access it is.
      # use rocketchat
      # db.rocketchat_settings.updateOne(
      #   {"_id": "Show_Setup_Wizard"},
      #   {$set: {"value": "completed"}},
      #   {upsert: true}
      # );
      - "127.0.0.1:27017:27017"
    restart: always
    environment:
      MONGODB_REPLICA_SET_MODE: primary
      MONGODB_REPLICA_SET_NAME: rs0
      MONGODB_PORT_NUMBER: 27017
      MONGODB_INITIAL_PRIMARY_HOST: mongodb
      MONGODB_INITIAL_PRIMARY_PORT_NUMBER: 27017
      MONGODB_ADVERTISED_HOSTNAME: mongo
      MONGODB_ENABLE_JOURNAL: true
      ALLOW_EMPTY_PASSWORD: yes

volumes:
  uploads:
