name: Periodically test against latest Rocket.Chat server

on:
  schedule:
    - cron: '0 20 * * 5'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Test
        uses: ./.github/actions/test_rocketchat
        with:
          python-version: '3.13'
          rocket-chat-version: 'latest'
          rocket-chat-license: ${{ secrets.ROCKETCHAT_LICENSE }}
