name: Periodically test against latest Rocket.Chat server

on:
  schedule:
    - cron: '0 20 * * 5'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Test
        uses: ./.github/actions/test_rocketchat
        with:
          rocket-chat-version: 'latest'
          rocket-chat-license: ${{ secrets.ROCKETCHAT_LICENSE }}
