name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
        rocket-chat-version: [ '7.6.6', '7.7.9', '7.8.4', '7.9.5', '7.10.4', '7.11.1', '7.12.1' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Test
        uses: ./.github/actions/test_rocketchat
        with:
          python-version: ${{ matrix.python-version }}
          rocket-chat-version: ${{ matrix.rocket-chat-version }}
          rocket-chat-license: ${{ secrets.ROCKETCHAT_LICENSE }}
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
