name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
        rocket-chat-version: [ '7.10.6', '7.11.3', '7.12.3', '7.13.3' , '8.0.1']
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Test
        uses: ./.github/actions/test_rocketchat
        with:
          python-version: ${{ matrix.python-version }}
          rocket-chat-version: ${{ matrix.rocket-chat-version }}
          rocket-chat-license: ${{ secrets.ROCKETCHAT_LICENSE }}
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
